<div class="about-wrapper">
  <div class="about-left">
    <div class="about-left-content">
      <div class="shadow">
        <div class="about-img">
          <img src="assets/images/profile.jpeg" alt="about-image" />
        </div>
      </div>
      <h2 class="homename">
        Salih Enes <br />
        ALICI
      </h2>
      <h3>Frontend Developer</h3>
      <ul class="icons">
        <li>
          <a href="https://github.com/salihenesalici">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/salihenesalici/">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="about-right">
    <h1>Hakkımda <span>!</span></h1>
    <h2>Ben Kimim, Yaptığım Projeler</h2>
    <div class="about-btns">
      <a routerlink="project" class="btn btn-white">Projeler</a>
    </div>
    <div class="about-para">
      <p>
        Merhaba, ben Salih Enes, 27 yaşında bir yazılım geliştiricisiyim.
        2020 yılında Hasan Kalyoncu Üniversitesi Beslenme ve Diyetetik
        bölümünden mezun oldum, ancak zamanla ilgimi çeken yazılım dünyasına
        adım atmaya karar verdim. Şu anda bilgisayar programcılığı önlisans
        bölümünde eğitimime devam ediyorum. HTML, CSS ve JavaScript gibi
        dillerle başladım ve şu anda Angular, React ve Node.js gibi
        teknolojileri öğrenerek kendimi geliştirmeye devam ediyorum. Yazılım
        geliştirme yolculuğumda özellikle Front-End alanına yoğunlaşıyorum
        ve bu alanda kendimi daha da ileriye taşımak için çaba sarf
        ediyorum.
      </p>
      <p>
        Askerliğimi uzun dönem subay olarak tamamladım, bu deneyimim bana
        liderlik ve disiplin kazandırdı. Teknolojinin dinamik yapısını her
        geçen gün daha çok seviyor ve sürekli gelişen bu alanda, yenilikçi
        çözümler üreterek katkı sağlamayı hedefliyorum.
      </p>
    </div>
  </div>
</div>
