<footer class="footer">
  <div class="footer-top">
    <div class="logo">
      <span class="logo-text">SALİH <span class="logo-highlight">ENES</span></span>
    </div>
    <div class="footer-links">
      <a href="#">İletişim</a>
      <a href="#">Kurumsal</a>
      <a href="#">Yayın Akışı</a>
      <a href="#">Frekanslarımız</a>
      <a href="#">Sitene Ekle</a>
      <a href="#">tabii</a>
    </div>
  </div>

  <div class="footer-social">
    <a href="#"><img src="facebook-icon.svg" alt="linkedin"></a>
    <a href="#"><img src="twitter-icon.svg" alt="github"></a>
    <a href="#"><img src="instagram-icon.svg" alt="Instagram"></a>
  </div>

  <div class="footer-bottom">
    <p>Copyright © 2024. SALİH ENES ALICI</p>
    <p>Bağlantı yoluyla gidilen dış sitelerin içeriğinden TRT sorumlu değildir.</p>
    <div class="footer-policy">
      <a href="#">Gizlilik Politikası ve Aydınlatma Metni</a>
      <a href="#">Kullanım Şartları</a>
      <a href="#">Çerez Politikası</a>
    </div>
  </div>
</footer>
