 .header {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .header-content {
    display: flex;
    margin-top: 25px;
    justify-content: space-around;
    align-items: center;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .search-input {
    width: 250px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .search-input:focus {
    border-color: #000;
  }
  
  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: #333;
  }
  
  .search-button svg {
    fill: #fff;
    width: 18px;
    height: 18px;
  }
  
  
  .navbar {
    background: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .nav-links li {
    margin-right: 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
