.slider-container {
    position: relative;
    width: 100%;
    max-width: 75%;
    overflow: hidden;
    margin: auto;
    padding: 40px 0px;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .slide img {
    width: 100%;
    display: block;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button.prev {
    left: 10px;
  }
  
  button.next {
    right: 10px;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  